# Ignore Maven target directory
/target/

# Ignore logs
*.log

# Ignore compiled class files
*.class

# Ignore IDE specific files
*.iml
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

